.header{
    padding-bottom:210px;
    padding-top:26px;

&__navigation{ 
    align-items: flex-start; 
    margin-bottom:150px; 
    }

&__welcome-text{
    text-transform: uppercase;
    color:$header-brand-color;
    text-align:center;
    margin-bottom:90px;
    @include font-settings(150px,140px,700);
    padding-left:150px;
    padding-right:150px;
    }

&__upperheadline-text{
    font-size: 72px;
    margin-bottom:36px;
    color:$header-brand-color;
    }
    
&__button{
    border-style: solid;
    border-width: 3px;
    border-color: $header-brand-color;
    color:$header-brand-color;    
    width: 164px;
    height: 44px;  
    @include font-settings(14px, 38px , 700); 
    text-transform:uppercase; 
    display:block;
    margin:0 auto;
    }
    
}