.header-bg{
    // @include bg-image('../img/header/header-bg.jpg')
    background:$main-gradient,
               url(../images/header/header-bg.jpg) center center;
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header-bg{
        // @include bg-image('../img/header/header-bg@2x.jpg')
      background:$main-gradient,
               url(../images/header/header-bg@2x.jpg) center center;
      background-size: cover;}
   }