.team-list-item{
    position: relative;        


    &__contain{
        background-color: $accent-color;
        position:relative;
        margin-bottom:32px;  
    }

    &__social-list{
    position:absolute;
        width: 380px;
        height: 470px;
        background:$main-gradient;
        @include center-flex ('center');
        flex-direction: row;
        opacity:0;
        transition: opacity 0.3s ease-out;
    }

    &__social-list-items{  
        width: 56px;
        height: 56px;
        background-color: $hover-navigation-color; 
        position: relative; 
        margin-right:1px;

        &:hover .team-list-item__social-icon, &:focus .team-list-item__social-icon {
        fill:$header-brand-color;
        }
    
        &:hover{ 
            background-color: $brand-color;
            cursor: pointer; 
        }

    }
    
    &__social-icon{
    margin:auto;
    width:27px;
    height:27px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill:$brand-color;}
    

    &:hover .team-list-item__social-list{
        opacity:1;  
    }

    &__undercontain{
        transition: transform 0.3s ease-out;
    }


    &:hover &__undercontain{
    transform: translate(-10px,-10px);  
    }

    &__name{
        @include font-settings(14px, 1.2 , 600);
        text-transform: uppercase;
        text-align: center;
        margin-bottom:10px;
        color:$section-head-color;
    }

    &__occupation{
        font-family: $description-font; 
        @include font-settings(15px, 24px , 300);
        font-style: italic;
        text-align: center;
        color:rgb(153,153,153);
    }

}